@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
    themes: light --default;
}

@font-face {
    font-family: LumahaSegment;
    src: url(/LumahaSegment.woff2);
}

.font-lumaha {
    font-family: LumahaSegment
}